* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding-top: 6rem;
  min-width: 100vw;
  min-height: 100vh;
  background-color: F5FAE1;
}

/* !navBar Settings */
.navbar {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #896c6c;
  color: #fae1dd;
  font-weight: 400;
  font-family: sans-serif;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  border-radius: 10px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu a {
  text-decoration: none;
  color: #fae1dd;
  font-size: 18px;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-weight: 400;
  margin: 0 1rem;
}
.navbar__menu a:hover {
  background-color: #eee6ca;
  color: #896c6c;
  transition: 0.3s;
}

.lisanun__mubeen__text {
  font-family: "Dancing Script", cursive;
}

/* Hero Section Settings */

.hero {
  color: #896c6c;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 80%;
  margin: auto;
  line-height: 5rem;
  background-color: rgb(238, 230, 202, 0.05);
  padding: 3rem;
  gap: 3rem;
  font-size: 2.5rem;
  font-family: "Source Serif 4", serif;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  background-color: #e5beb5;
  font-size: 1rem;
  cursor: pointer;
  color: #896c6c;
}

button a {
  text-decoration: none;
  font-size: 1rem;
  color: #896c6c;
}

.amiri-regular {
  color: rgba(34, 34, 34, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
}

.about {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #f5fae1;
  color: #896c6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 2rem;
}

.about h2 {
  padding: 0;
  margin-bottom: 0;
}

.about p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.about-btn {
  align-self: flex-end;
}

.our__programs {
  padding: 1.5rem;
  max-width: 80%;
  margin: auto;
  background-color: #eee6ca;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #896c6c;
  margin-bottom: 1rem;
}

.main-programs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  background-color: #f5fae1;
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #5a4747;
}

.card-btn {
  background-image: url(Quran.jfif);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 1rem;
  border-radius: 1px;
  margin-right: 10px;
}

.testimonies {
  max-width: 80%;
  margin: auto;
  padding: 1.5rem;
}

.testimonies h2 {
  text-align: left;
}

.call_to_action {
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #f5fae1;
  padding: 1.5rem;
  max-width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}

.call_to_action button {
  background-color: #e5beb5;
  color: #5a4747;
}

footer {
  min-width: 100vw;
  background-color: #896c6c;
}

.footer_div {
  max-width: 80%;
  margin: auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.socials {
  display: flex;
  gap: 2rem;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.bi {
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 6rem;
  min-width: 100vw;
  min-height: 100vh;
  background-color: F5FAE1;
}

/* !navBar Settings */
.navbar {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #896c6c;
  color: #fae1dd;
  font-weight: 400;
  font-family: sans-serif;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  border-radius: 10px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu a {
  text-decoration: none;
  color: #fae1dd;
  font-size: 18px;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-weight: 400;
  margin: 0 1rem;
}
.navbar__menu a:hover {
  background-color: #eee6ca;
  color: #896c6c;
  transition: 0.3s;
}

.lisanun__mubeen__text {
  font-family: "Dancing Script", cursive;
}

/* Hero Section Settings */

.hero {
  color: #896c6c;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 80%;
  margin: auto;
  line-height: 5rem;
  background-color: rgb(238, 230, 202, 0.05);
  padding: 3rem;
  gap: 3rem;
  font-size: 2.5rem;
  font-family: "Source Serif 4", serif;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  background-color: #e5beb5;
  font-size: 1rem;
  cursor: pointer;
  color: #896c6c;
}

button a {
  text-decoration: none;
  font-size: 1rem;
  color: #896c6c;
}

.amiri-regular {
  color: rgba(34, 34, 34, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
}

.about {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #f5fae1;
  color: #896c6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 2rem;
}

.about h2 {
  padding: 0;
  margin-bottom: 0;
}

.about p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.about-btn {
  align-self: flex-end;
}

.our__programs {
  padding: 1.5rem;
  max-width: 80%;
  margin: auto;
  background-color: #eee6ca;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #896c6c;
  margin-bottom: 1rem;
}

.main-programs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  background-color: #f5fae1;
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #5a4747;
}

.card-btn {
  background-color: #896c6c;
  padding: 1rem;
  border-radius: 1px;
  margin-right: 10px;
}

.testimonies {
  max-width: 80%;
  margin: auto;
  padding: 1.5rem;
}

.testimonies h2 {
  text-align: left;
}

.call_to_action {
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #f5fae1;
  padding: 1.5rem;
  max-width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}

.call_to_action button {
  background-color: #e5beb5;
  color: #5a4747;
}

footer {
  min-width: 100vw;
  background-color: #896c6c;
}

.footer_div {
  max-width: 80%;
  margin: auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.socials {
  display: flex;
  gap: 2rem;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.bi {
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
