/* @media (min-width: 1281px) and (max-width: 1441px) {

} */

@media (min-width: 1008px) and (max-width: 1200px) {
  .time,
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .time,
  h1 {
    font-size: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .time,
  h1 {
    font-size: 0.9rem;
  }

  .heading {
    max-width: 100%;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .name-logo {
    gap: 10px;
  }
  body {
    padding: 1.5rem;
  }
}
