@media (min-width: 1281px) and (max-width: 1441px) {
  .heading {
    flex-direction: row;
  }
}

@media (min-width: 1008px) and (max-width: 1200px) {
  .time,
  h1 {
    font-size: 1.5rem;
  }
  .heading {
    flex-direction: row;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .time,
  h1 {
    font-size: 1rem;
  }
  .heading {
    flex-direction: row;
  }
  .name {
    font-size: 2rem;
  }
  .welcome-name {
    max-width: 70%;
  }

  .main-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .logout {
    left: 27rem;
  }

  .support h3 {
    font-size: 1.5rem;
  }
  .support p {
    font-size: 1.2rem;
  }
  .fees-details {
    font-size: 1.1rem;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .time,
  h1 {
    font-size: 0.8rem;
  }

  .heading {
    max-width: 100%;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .name-logo {
    gap: 5px;
  }
  body {
    padding: 0.8rem;
  }
  .heading {
    flex-direction: column;
  }
  .name {
    font-size: 1.5rem;
  }

  .welcome-name {
    max-width: 100%;
  }

  .progress-card {
    flex-direction: column;
  }

  .main-info {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .support {
    grid-column: span 2;
    min-width: 100%;
    gap: 30px;
  }
  .support h3 {
    font-size: 1.5rem;
  }

  .support p {
    font-size: 1.2rem;
  }
  .logout {
    left: 6.5rem;
    z-index: 2;
    font-size: 0.8rem;
  }

  table {
    font-size: 1.2rem;
  }

  .calender {
    font-size: 1.3rem;
  }

  .fees {
    margin: auto;
    max-width: 90%;
  }

  .fees-details {
    flex-direction: column;
    font-size: 1.1rem;
  }
}
