* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: #896c6c;
  color: #fdf6f6;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #856849;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  /* max-width: 60%; */
  background-color: #f8f2e9;
  padding: 1rem;
  border-radius: 20px;
  color: #856849;
  margin-bottom: 1rem;
}

.name-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.time {
  /* background-color: blue;
  color: white; */
  font-size: 2rem;
}

/* check point after heading */
h2 {
  font-family: "Dancing Script", cursive;
}

.name {
  font-size: 2.5rem;
}

.welcome-name {
  border: 1px solid #fdf6f6;
  padding: 0.5rem 2.5rem;
  border-radius: 50px;
  max-width: 50%;
}
