* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-top: 0;
  padding-bottom: 2.5rem;
}

section {
  min-height: 50vh;
}

header {
  background-color: #eee6ca;
  color: #896c6c;
  font-family: "Dancing Script", cursive;
}

header,
footer {
  text-align: center;
  padding: 1rem 0;
}

header {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  /* z-index: -2; */
}

footer {
  padding: 0.5rem;
  color: #eee6ca;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem; */
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.img-items {
  padding: 0.5rem;
  z-index: 1;
  position: fixed;
  top: 15rem;
  right: 0;
  background-color: #896c6c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 30%;
}

.info-holder {
  padding: 1.2rem;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  min-width: 100vw;
  background-color: #896c6c;
}

/* .footer_div {
  max-width: 80%;
  margin: auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
} */

.lisanun__mubeen__text {
  font-family: "Dancing Script", cursive;
}

.navbar {
  /* max-width: 100%;
  width: 100%; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #896c6c;
  font-family: sans-serif;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  color: #fae1dd;
  font-family: sans-serif;
}

.navbar__menu a:hover {
  background-color: #eee6ca;
  color: #896c6c;
  transition: 0.3s;
}

.navbar__menu a {
  text-decoration: none;
  color: #fae1dd;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 0 1rem;
}

.navbar__menu a:hover {
  background-color: #eee6ca;
  color: #896c6c;
  transition: 0.3s;
}

.bi {
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.bi {
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.hidden {
  /* display: none; */
  opacity: 0%;
  pointer-events: none;
}

.navbar__icons {
  display: block;
}

.navbar__menu {
  z-index: 2;
  min-width: 70%;
  min-height: 50vh;
  padding: 1rem 0.5rem;
  position: absolute;
  top: 2.7rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #896c6cf8;
}

.about-info {
  padding: 1rem 2rem;
  /* font-size: 0.9rem; */
  font-family: sans-serif;
}

.info-holder img {
  height: 250px;
  width: 100%;
}

.disc-paragraph {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.disc-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.disc-buttons button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background-color: #e5beb5;
  color: #896c6c;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}

#discover {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 35vh;
  background-color: #f5fae1;
  color: #896c6c;
}

.disc-h2 {
  background-color: #fae1dd;
  padding: 1rem;
  border-radius: 10px;
}
