* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 1.3rem;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #896c6c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__details {
  font-family: sans-serif;
  min-height: 80vh;
  min-width: 30%;
  border: none;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #f9f7f3, #f4f1eb);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction {
  color: #896c6c;
  text-align: center;
}

.details,
form {
  min-width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  align-self: center;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #e5beb5;
  cursor: pointer;
}

button:active {
  background-color: #e5beb588;
}

input {
  border-radius: 1rem;
  padding: 0.8rem 2rem;
  border: none;
  outline: none;
}

#message {
  color: red;
  font-style: italic;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}
